/* colors*/

$dark: #1f1f1f;
$babyblue: #e3f3fa;
$hovercolor: #008d97;
$pLinkColor: #006b72;
$grey: #6a6a6a;
$purple: #ff6725;
$white: #ffffff;
$black: #000000;
$transparentPurple: rgba(223, 151, 249, 0.1);

/* Breakpoints */

$maxWidth: 1024px;
$mediumWidth: 767px;