.icon-roll {
    background-size: 100% 100%;
    height: 60px;
    width: 60px;
    float: left;
    position: relative;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */;
    &:hover {
        background-size: 100% 100%;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-filter: none;
        filter: none;
    }
}

//fix on free icons page display size
.free-icons .row { 
    .icon-roll {
        background-size: 100% 100%;
        height: 150px;
        width: 150px;
        
    }
    button.linkForTooltip {
        font-family: "Architects Daughter", cursive, Arial;
        margin: 17px;
        width: 150px;
        height: 150px;
    }
}
.tooltip,
    .linkForTooltip {
        font-family: "Architects Daughter", cursive, Arial;
    }
    button.linkForTooltip {
        font-family: "Architects Daughter", cursive, Arial;
        width: 60px;
        height: 60px;
        float: left;
        margin: 5px 10px 5px 0;
        padding: 0;
        opacity: 1;
        filter: alpha(opacity=100);
        border: 0;
    }
    .tooltip {
        font-size: 18px;
    }
