.loading {
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    img {
            width: 75px;
            height: 63px;
            margin: 0 auto;
        display:flex; 
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}
























 
// .loader {
//     position: relative;
//     margin: 0 auto;
//     width: 100px;
//   }
//   .loader:before {
//     content: "";
//     display: block;
//     padding-top: 100%;
//   }
//   .circular {
//     -webkit-animation: rotate 2s linear infinite;
//     animation: rotate 2s linear infinite;
//     height: 44px;
//     -webkit-transform-origin: center center;
//     transform-origin: center center;
//     width: 44px;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//   }
//   .path {
//     stroke-dasharray: 1, 200;
//     stroke-dashoffset: 0;
//     -webkit-animation: dash 1.5s ease-in-out infinite,
//       color 6s ease-in-out infinite;
//     animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
//     stroke-linecap: round;
//   }
//   @-webkit-keyframes rotate {
//     100% {
//       -webkit-transform: rotate(360deg);
//       transform: rotate(360deg);
//     }
//   }
  
//   @keyframes rotate {
//     100% {
//       -webkit-transform: rotate(360deg);
//       transform: rotate(360deg);
//     }
//   }
//   @-webkit-keyframes dash {
//     0% {
//       stroke-dasharray: 1, 200;
//       stroke-dashoffset: 0;
//     }
//     50% {
//       stroke-dasharray: 89, 200;
//       stroke-dashoffset: -35px;
//     }
//     100% {
//       stroke-dasharray: 89, 200;
//       stroke-dashoffset: -124px;
//     }
//   }
//   @keyframes dash {
//     0% {
//       stroke-dasharray: 1, 200;
//       stroke-dashoffset: 0;
//     }
//     50% {
//       stroke-dasharray: 89, 200;
//       stroke-dashoffset: -35px;
//     }
//     100% {
//       stroke-dasharray: 89, 200;
//       stroke-dashoffset: -124px;
//     }
//   }
//   @-webkit-keyframes color {
//     100%,
//     0% {
//       stroke: #d62d20;
//     }
//     40% {
//       stroke: #0057e7;
//     }
//     66% {
//       stroke: #008744;
//     }
//     80%,
//     90% {
//       stroke: #ffa700;
//     }
//   }
//   @keyframes color {
//     100%,
//     0% {
//       stroke: #d62d20;
//     }
//     40% {
//       stroke: #0057e7;
//     }
//     66% {
//       stroke: #008744;
//     }
//     80%,
//     90% {
//       stroke: #ffa700;
//     }
//   }
  
  
//   .image-container {
//     width: 315px;
//     height: 315px;
//     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
//     margin-left: 30px;
//     margin-top: 30px;
//     overflow: hidden;
//     position: relative;
//     display: inline-block;
//   }
//   .image-container-overlay {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #fff;
//   }
