.modal{
.close
{
    float: right;
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
}
.btn-primary {
    background-color: #138087;
    background-image: none;
    color: #fff;
    border:0;
    &:hover{
        background-color: black;
    }
}
.btn-primary.skill1 {
    background-color: #a3d6d8;
    background-image: none;
    cursor: default;
    border: 0;
}
.btn-primary.skill2 {
    background-color: #138087;
    background-image: none;
    cursor: default;
    border: 0;
}
.btn-primary.skill3 {
    background-color: #66c4ae;
    background-image: none;
    cursor: default;
    border: 0;
}
}
.modal-backdrop, .modal-backdrop.fade.in, .modal-backdrop.show{
  display: none;
    }