@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
body {
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    font-family: "Architects Daughter", cursive, Arial;
    font-size: 36px;
}

h2 {
    font-family: "Architects Daughter", cursive, Arial;
    font-size: 27px;
}

h3 {
    font-family: "Josefin Sans", sans-serif, Arial;
    font-size: 24px;
}

p,
ul,
li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 21px;
    font-weight: lighter;
    @media (max-width: $mediumWidth) {
        font-size: 15px;
    }
}

p {
    font-weight: lighter;
}

a {
    color: $pLinkColor;
}

a:link {
    color: $black;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: $hovercolor;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $hovercolor;
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: $purple;
    text-decoration: none;
    cursor: pointer;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.focus,
:focus {
    outline: 0;
    box-shadow: none;
    background: transparent;
    border: 0;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: $white;
    text-decoration: none;
}

button {
    outline: none; // this one
}

button:focus {
    outline: 0;
    background: transparent;
    border: 0;
}

button {
    font-family: "Josefin Sans", sans-serif, Arial;
}

.invisible-btn {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}