//header


header.app-header {

    border-bottom: 1px solid $dark;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;

    // animation
    @keyframes show-left {
        0% {
            transform: translate(-210px, 0);
        }



        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes retract-left {
        0% {

            transform: translate(0, 0);
        }



        100% {
            transform: translate(-210px, 0);
        }
    }

    // toggleon to viewport

    #main-menu.menu-on {
        animation: show-left .3s forwards;
        position: fixed;
    }

    #main-menu.menu-off {

        animation: retract-left .3s forwards;
        position: relative;

    }

    // hidemain menu by default

    #main-menu {
        display: none;
        position: relative;
        width: 210px;
        height: 100vh;
        top: 0;
        left: 0px;
        background-color: $white;
        border-right: 1px solid $dark;



        h3 {
            padding: 120px 20px 20px 50px;
            margin: 0;
            font-family: 'Architects Daughter', cursive, Arial;
            font-size: 24px;
            letter-spacing: 1px;
            text-align: left;
            border-bottom: 1px solid $dark;
        }

        a {
            clear: both;
            display: block;
            text-align: left;
            border-bottom: 1px solid $dark;
            padding: 20px 20px 20px 50px;
            display: block;
            font-family: 'Architects Daughter', cursive, Arial;
            // font-size: 18px;
            font-size: 15px;
            letter-spacing: 1px;
            text-decoration: none;
            color: $dark;


            &:hover {
                background: $babyblue;
                color: $hovercolor;
            }

            &:focus,
            &:active {
                border-bottom: 1px solid $dark;
            }
        }
    }

    // burger             
    .menu-button {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 45px;
        left: 50px;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        text-shadow: none;
        outline: 0;

        &:active {
            outline: 0;
        }

        .burger-menu {
            position: relative;
            width: 43px;
            height: 50px;
            top: 0px;
            left: 0px;
            cursor: pointer;
        }

        .burger {
            position: absolute;
            background: $white;
            border: 1px solid $dark;
            width: 43px;
            height: 9px;
            top: 50%;
            right: 0px;
            margin-top: -3px;
            opacity: 1;
        }

        .burger::before {
            position: absolute;
            background: $white;
            border: 1px solid $dark;
            width: 43px;
            height: 9px;
            left: -1px;
            top: 15px;
            content: "";
            display: block;
        }

        .burger::after {
            position: absolute;
            background: $white;
            border: 1px solid $dark;
            width: 43px;
            left: -1px;
            height: 9px;
            bottom: 16px;
            content: "";
            display: block;
        }

        .burger::after,
        .burger::before,
        .burger {
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
        }

        .burger-menu.show-cross {
            position: fixed;
            top: 45px;
            left: 50px;
        }

        .show-cross .burger::after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            bottom: 4px;
            background: $dark;
        }

        .show-cross .burger::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            top: -5px;
            background: $dark;
        }

        .show-cross .burger {
            border: $white;
            background: $white;
        }
                    &:hover {
                outline: 0;
                opacity: 0.7;
            }

    }

    .App-logo {
        /*  animation: App-logo-spin infinite 20s linear;*/
        position: absolute;
        top: 24px;
        right: 50px;
        width: 100px;
        height: 83px;
        @media (max-width: 767px) {
            right:20px;
        }
    }

}

//move navi arrows outside
    // navi
    #navi-arrows {
        position: absolute;
        width: 56px;
        height: 50px;
        top: 48px;
        left:146px;
        //background-image:url(../img/archies-art.png);
        background-position: center top;
        background-size: 100% auto;
        z-index: 1;

        a.navi-button {
            position: absolute;
            width: 42px;
            height: 27px;
            top: 59px;
            left: -95px;
            cursor: pointer;
            background: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            text-shadow: none;
            outline: 0;

            &:active {
                outline: 0;
            }

            &:hover {
                outline: 0;
                background-color: none;
                border: none;
                opacity: 0.7;
            }


            .navi {
                position: absolute;
                background: transparent;
                border: 1px solid transparent;
                width: 23px;
                height: 6px;
                margin-top: -3px;
                opacity: 1;
            }

            .navi::before {
                position: absolute;
                background: $white;
                border: 1px solid $dark;
                width: 23px;
                height: 6px;
                left: -1px;
                top: 9px;
                content: "";
                display: block;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            .navi::after {
                position: absolute;
                background: $white;
                border: 1px solid $white;
                width: 23px;
                left: -1px;
                height: 6px;
                bottom: -23px;
                content: "";
                display: block;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

        }

        a.navi-button2 {
            position: absolute;
            width: 42px;
            height: 27px;
            top: 92px;
            left: -95px;
            cursor: pointer;
            background: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            text-shadow: none;
            outline: 0;

            &:active {
                outline: 0;
            }

            &:hover {
                outline: 0;
                background-color: none;
                border: none;
                opacity: 0.7;
            }

            img.img-fluid{
                transform: rotate(180deg);
            }

            .navi2 {
                position: absolute;
                background: transparent;
                border: 1px solid transparent;
                width: 23px;
                height: 6px;
                margin-top: -3px;
                opacity: 1;
            }

            .navi2::before {
                position: absolute;
                background: $white;
                border: 1px solid $dark;
                width: 23px;
                height: 6px;
                left: -1px;
                top: 9px;
                content: "";
                display: block;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

            .navi2::after {
                position: absolute;
                background: $white;
                border: 1px solid $dark;
                width: 23px;
                left: -1px;
                height: 6px;
                bottom: -23px;
                content: "";
                display: block;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }


        }
    }