.HomePage-content {
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 143%;
    overflow: hidden;
    animation: fadein 3s;
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    #background img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        max-width: 100%;
    }
    /* ANIMATED
============================================================================= */
    #title {
        position: absolute;
        padding-top: 5%;
        left: 30%;
        width: 37%;
        height: auto;
        &:hover {
            opacity: 0.7;
        }
        button {
            cursor: pointer;
            width: 100%;
        }
    }
    #react-logo {
        position: absolute;
        margin-top: 44.1%;
        left: 15.4%;
        width: 3%;
        height: auto;
        transform-origin: 50% 50%;
        animation: spin 4s linear infinite;
        @media (max-width: 767px) {
            display: none;
        }
    }
    #whiteboard-illustration {
        position: absolute;
        padding-top: 43%;
        left: 9.8%;
        width: 13%;
        height: auto;
        @media (max-width: 767px) {
            display: none;
        }
    }
    @keyframes spin {
        100% {
            transform-origin: 50% 50%;
            transform: rotate(360deg);
        }
    }
    #now-built-in {
        position: absolute;
        padding-top: 47.5%;
        left: 12.8%;
        width: 8.5%;
        height: auto;
        animation: flicker 1.5s linear infinite;
        animation-delay: 0.1s;
        @media (max-width: 767px) {
            display: none;
        }
    }
    #react-js {
        position: absolute;
        padding-top: 49.5%;
        left: 12.5%;
        width: 9%;
        height: auto;
        animation-delay: 0.2s;
        animation: flicker2 1.5s linear infinite;
        @media (max-width: 767px) {
            display: none;
        }
    }
    //     // animation
    @keyframes flicker {
        0% {
            opacity: 0;
        }
        1% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        34% {
            opacity: 0;
        }
        66% {
            opacity: 0;
        }
        99% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    // animation
    @keyframes flicker2 {
        0% {
            opacity: 1;
        }
        1% {
            opacity: 0;
        }
        33% {
            opacity: 0;
        }
        34% {
            opacity: 1;
        }
        66% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    #titleimg {
        width: 100%;
        height: auto;
        @media (max-width: 570px) {
            display: none;
        }
    }
    #plane {
        position: absolute;
        padding-top: 15%;
        left: -40%;
        width: 35%;
        height: auto;
    }
    #planeimg img {
        width: 100%;
        height: auto;
    }
    #trail {
        position: absolute;
        left: 71%;
        top: 92%;
        width: 10%;
        height: auto;
    }
    #sun {
        position: absolute;
        top: 14.4%;
        left: 41.4%;
        width: 15%;
        height: auto;
        &:hover {
            opacity: 0.7;
        }
        a {
            cursor: pointer;
        }
    }
    #sunimg {
        width: 100%;
        height: auto;
    }
    #tie {
        position: absolute;
        top: 80%;
        left: 41%;
        width: 17%;
        height: auto;
    }
    #boat {
        position: absolute;
        padding-top: 25%;
        left: -40%;
        width: 16%;
        height: auto;
    }
    #boatimg {
        width: 100%;
        height: auto;
    }
    #v2boat {
        position: absolute;
        padding-top: 35%;
        left: -60%;
        width: 11%;
        height: auto;
    }
    #boatimg2 {
        width: 100%;
        height: auto;
    }
    #mine {
        position: absolute;
        padding-top: 39%;
        left: -40%;
        width: 2%;
        height: auto;
    }
    #mineimg {
        width: 100%;
        height: auto;
    }
    #gateimg {
        position: absolute;
        margin-top: 46.7%;
        left: 43.4%;
        width: 11%;
        height: auto;
        &:hover {
            opacity: 0.7;
        }
    }
    /* Overlayed cliff for boat and plane to go behind */
    #cliff {
        position: absolute;
        top: 0%;
        left: 80.33%;
        width: 19.55%;
        height: auto;
    }
    #cliffimg {
        width: 100%;
        height: auto;
    }
    #apache {
        z-index: 1;
        position: absolute;
        padding-top: 62%;
        left: 9%;
        width: 26%;
        height: auto;
    }
    #apacheimg {
        width: 100%;
        height: auto;
    }
    #apacheanim {
        position: absolute;
        top: 82%;
        left: 0%;
        width: 100%;
        height: auto;
    }
    #oldlady {
        position: absolute;
        padding-top: 98%;
        left: -10%;
        width: 6%;
        height: auto;
    }
    #oldladyimg {
        width: 100%;
        height: auto;
    }
    #couple {
        position: absolute;
        padding-top: 126.5%;
        left: -10%;
        width: 5%;
        height: auto;
    }
    #coupleimg {
        width: 100%;
        height: auto;
    }
    #hummer {
        position: absolute;
        padding-top: 129%;
        left: -90%;
        width: 21%;
        height: auto;
    }
    #hummerimg {
        width: 100%;
        height: auto;
    }
    #humtrail {
        position: absolute;
        left: -14%;
        top: 97.2%;
        width: 18%;
        height: auto;
    }
    /* SHOP LOGOS
============================================================================= */
    #archiesweb {
        position: absolute;
        margin-top: 73.7%;
        left: 19.2%;
        width: 6%;
        height: auto;
    }
    #beeny {
        position: absolute;
        margin-top: 73.3%;
        left: 26.7%;
        width: 4.8%;
        height: auto;
    }
    #goddess {
        position: absolute;
        margin-top: 73%;
        left: 59.9%;
        width: 4.8%;
        height: auto;
    }
    #freddie {
        position: absolute;
        margin-top: 73.45%;
        left: 67.1%;
        width: 11.5%;
        height: auto;
    }
    #asos {
        position: absolute;
        margin-top: 91.7%;
        left: 14.2%;
        width: 8%;
        height: auto;
    }
    #edwin {
        position: absolute;
        margin-top: 92.7%;
        left: 64.1%;
        width: 9%;
        height: auto;
    }
    #utopia {
        position: absolute;
        margin-top: 93.19%;
        left: 74.8%;
        width: 10%;
        height: auto;
    }
    #oda {
        position: absolute;
        margin-top: 92.1%;
        left: 87.4%;
        width: 5%;
        height: auto;
    }
    #roam {
        position: absolute;
        margin-top: 121.5%;
        left: 5.3%;
        width: 7%;
        height: auto;
    }
    #budd {
        position: absolute;
        margin-top: 121.7%;
        left: 16.4%;
        width: 9%;
        height: auto;
    }
    #onemega {
        position: absolute;
        margin-top: 122.1%;
        left: 87.3%;
        width: 7%;
        height: auto;
    }
    #thepixellottery {
        position: absolute;
        margin-top: 122%;
        left: 72.6%;
        width: 8%;
        height: auto;
    }
}