.About-content {
/* SKILLSET CHARTS
============================================================================= */
.col-xs-12.col-sm-6.col-md-6.col-lg-6.no-pad img {
    width: 100%;
}
.chartwrap { width:100%;height:auto; }
.chartwrap div   {padding:2%;font-family: 'Architects Daughter', cursive,Arial;margin-bottom: 2%;font-size:18px;}
#html { width:90%;background-color: #a3d6d8;padding:2; }
#css { width:90%;background-color: #66c4ae; }
#psd { width:90%;background-color: #a3d6d8; }
#illu { width:70%;background-color: #66c4ae; }
#javascript { width:70%;background-color: #a3d6d8; }
#php { width:50%;background-color: #66c4ae; }
#sql { width:50%;background-color: #a3d6d8; }
#cpan { width:50%;background-color: #66c4ae; }
#greensock { width:70%;background-color: #a3d6d8; }
#sass { width:70%;background-color: #66c4ae; }
#jquery { width:80%;background-color: #a3d6d8; }
#seo { width:80%;background-color: #66c4ae; }
#wordpress { width:80%;background-color: #a3d6d8; }
#ux { width:90%;background-color: #66c4ae; }
#ui { width:90%;background-color: #a3d6d8; }
#animation { width:90%;background-color: #66c4ae; }
#illustration { width:60%;background-color: #a3d6d8; }
#team { width:100%;background-color: #66c4ae; }


}