.african-diamonds-content.Crop-App-to-bg{
    padding-bottom: 149%; 
    animation: fadein 3s;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: visible;
    max-width: 100%;
  }
  #mountains {
    position: absolute;
    top: 0%;
    left: 0;
    padding-top:50%;
    margin-top:7.2%;
    width: 100%;

    background-repeat: repeat-x;
    background-size: 240%;
    height: auto;
    overflow: visible;
    max-width: 100%;
  }
  #hills {
    position: absolute;
    top: 0%;
    left: 0;
    padding-top:55%;
    margin-top:34%;
    width: 100%;
        background-repeat: repeat-x;
    background-size: 240%;
    height: auto;
    overflow: visible;
    max-width: 100%;
  }
  #sand {
    position: absolute;
    top: 0%;
    left: 0;
    padding-top:83%;
    margin-top:66%;
    width: 100%;
     background-repeat: repeat-x;
    background-size: 240%;
    height: auto;
    overflow: visible;
    max-width: 100%;
  }
 #content {
   position:absolute;
   margin-top: 5.4%;
   left:0%;
   width:100%;
   height:auto;
 }
  #cloud1 {
    position:absolute;
    padding-top:4%;
    left:-23.8%;
    width:15%;
    height:auto;
  }
  #cloud2 {
    position:absolute;
    padding-top:14%;
    left:-53.8%;
    width:12%;
    height:auto;
  }
  #cloud3 {
    position:absolute;
    padding-top:34%;
    left:-42.8%;
    width:22%;
    height:auto;
  }
  .cloud {
    width:100%;
    height: auto;
  }
 /*content area*/
 #tv-screen {
     position:absolute;
   margin-top: 19%;
   left:55.2%;
   width:6%;
   height:auto;
  }
  #phone {
     position:absolute;
   margin-top: 39.6%;
   left:29.7%;
   width:1.8%;
   height:auto;
  }
  #tablet {
  position:absolute;
   margin-top: 43.8%;
   left:50.7%;
   width:3.4%;
   height:auto;
  }
  #content-piece {
   position:absolute;
   margin-top: 5.4%;
   left:0%;
   width:100%;
   height:auto;
  }
  #sludge1 {
   position:absolute;
   margin-top: 99%;
   left:43%;
   width:5%;
   height:auto;
  }
  #sludge2 {
   position:absolute;
   margin-top: 99%;
   left:43%;
   width:5%;
   height:auto;
  }
  #sludge3 {
   position:absolute;
   margin-top: 99%;
   left:43%;
   width:5%;
   height:auto;
  }
  #legs {
   position:absolute;
   margin-top: 79%;
   left:28%;
   width:54%;
   height:auto;
  }
}