.earthgang-content.Crop-App-to-bg {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding-bottom: 182%;
    animation: fadein 3s;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

    &:before {
        background-color: #92d850;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, #acca1f, #d9a01b);
        opacity: .8;
    }

/* colors*/
$dark: #1F1F1F;
$babyblue: #E3F3FA;
$hovercolor: #02cad7;
$grey: #6A6A6A;
$purple: #ff6725;
$white: #FFFFFF;
$transparentPurple: rgba(223, 151, 249, 0.1);
/* Breakpoints */
$maxWidth: 1024px;
$mediumWidth: 767px;

// reset

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.focus, :focus {
    outline: 0;
    box-shadow: none;
    background:transparent;
     border: 0;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {

    text-decoration: none;
}
button {
  outline: none; // this one
}

button:focus { outline:0; background:transparent;border: 0; }



a:hover { color: #e69f1a;opacity: 0.6;filter: alpha(opacity=60);cursor:pointer;}
a:link {    color: #000;text-decoration: none;cursor:pointer;}
a:visited {    color: #635d63;text-decoration: none;cursor:pointer;}
a:hover {    color: #02cad7; text-decoration: none;cursor:pointer; }
a:active {    color: #c50e12; text-decoration: none;cursor:pointer;}

// z-index

// top
#main-menu {
	z-index: 2;
}
.menu-button {
	z-index: 3;
}

header.app-header .App-logo {
  z-index:1;
}
.no-pad {
  padding:0; 
}
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

h1 {
    font-family: 'Architects Daughter', cursive, Arial;
    font-size: 36px;
}
h2 {
    font-family: 'Architects Daughter', cursive, Arial;
    font-size: 27px;
}
p,ul,li {
	font-family: 'Josefin Sans', sans-serif;
	font-size:21px;
	font-weight:lighter;
	@media (max-width: $mediumWidth) {
	font-size:15px;		
	}
}

    #circleLosImg {
        position: absolute;
        width: 72%;
        height: auto;
        left: 13%;
        top: 9%;
        opacity: 1;
    }

    #toxicCloud {
        position: absolute;
        width: 96%;
        height: auto;
        left: 0%;
        top: 0%;
        opacity: 0.9;
    }

    #toxicCloud2 {
        position: absolute;
        width: 66%;
        height: auto;
        left: -25%;
        top: 42%;
        opacity: 0.7;

        transform: rotate(-90deg);
    }

    #toxicCloud3 {
        position: absolute;
        width: 66%;
        height: auto;
        left: 56%;
        top: 42%;
        opacity: 0.7;
        opacity: 0.7;
        transform: rotate(90deg);
    }

    #eyeSpriteContain {
        position: absolute;
        width: 26%;
        padding-top: 26%;
        top: 22.4%;
        left: 36.2%;
        overflow: hidden;

        #eyeSprite {
            position: absolute;
            height: 100%;
            width: 500%;
            left: 0%;
            top: 0%;
            /*background: url(https://archibaldbutler.com/wp-content/uploads/2019/02/eye-sprite-2.png)  left top;*/

            overflow: hidden;
            animation: playEye 6.5s steps(5) infinite;
            //animation-delay: 5s;
            background-size: auto 100%;

        }
    }

    @keyframes playEye {
        0% {
            left: 0%;
        }

        90% {
            left: 0%;
        }

        100% {
            left: -500%;
        }
 
    }



    .logo-bg {
        position: absolute;
        width: 83%;
        height: auto;
        left: 9%;
        top: -26%;
    }

    #EForEarthImg {
        position: absolute;
        width: 9%;
        height: auto;
        left: 11%;
        top: -95.6%;
    }

    #AForEarthImg {
        position: absolute;
        width: 9%;
        height: auto;
        left: 21%;
        top: -95.6%;
    }

    #RForEarthImg {
        position: absolute;
        width: 9%;
        height: auto;
        left: 31.8%;
        top: -95.6%;
    }

    #TForEarthImg {
        position: absolute;
        width: 9%;
        height: auto;
        left: 42.2%;
        top: -95.6%;
    }

    #HForEarthImg {
        position: absolute;
        width: 9%;
        height: auto;
        left: 52.8%;
        top: -95.6%;
    }

    #gangImg {
        position: absolute;
        width: 28%;
        height: auto;
        left: 58.9%;
        top: -15.6%;
        opacity: 1;
    }

    #hqImg {
        position: absolute;
        width: 10%;
        height: auto;
        left: 45.9%;
        top: 10.6%;
        opacity: 1;
    }

    #arrow {
        position: absolute;
        width: 5%;
        height: auto;
        left: 47.1%;
        top: 14.6%;
        animation: Arrowing 1s infinite alternate;
    }


    @keyframes Arrowing {
        from {
            top: 14.6%;
        }

        to {
            top: 16.6%;
        }
    }

    #maryImg {
        position: absolute;
        width: 35%;
        height: auto;
        left: 32%;
        top: 10.6%;
        opacity: 1;
    }

    #dudeOne {
        position: absolute;
        width: 32%;
        height: auto;
        left: 2%;
        top: 10.6%;
        padding-top: 44%;

        #tinyJohnyImg {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0%;
            top: 0%;

        }

        #sparkleTooth {
            position: absolute;
            width: 12%;
            height: auto;
            left: 45%;
            top: 23.6%;
            animation: blinkAnimation 5s linear infinite;
            animation-delay: 2s;

        }

    }

    #dudeTwo {
        position: absolute;
        width: 35%;
        height: auto;
        left: 62%;
        top: 10.6%;
        padding-top: 44%;

        #tinyHeadImg {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0%;
            top: 0%;

        }

        #sparkleTooth {
            position: absolute;
            width: 12%;
            height: auto;
            left: 35%;
            top: 71.6%;
            animation: blinkAnimation 5s linear infinite;
            animation-delay: 1s;

        }

    }


    @keyframes blinkAnimation {
        0% {
            visibility: visible;
            opacity: 0;

        }


        90% {
            visibility: visible;
            opacity: 0;

        }



        100% {
            visibility: hidden;
            opacity: 1;
        }

    }

    #pyramidImg {
        position: absolute;
        width: 80%;
        height: auto;
        left: 10%;
        top: 36%;
    }

    .spinningNuts {
        position: absolute;
        width: 0.8%;
        height: auto;
        -webkit-animation: spinNut 1.5s linear infinite;
        animation: spinNut 1.5s linear infinite;
    }

    #spinningNutImg {
        left: 47.4%;
        top: 39.5%;
    }

    #spinningNutImg2 {
        left: 47.3%;
        top: 40.8%;
    }

    #spinningNutImg3 {
        left: 47.3%;
        top: 42%;
    }

    #spinningNutImg4 {
        left: 47.4%;
        top: 43.3%;
    }

    #spinningNutImg5 {
        left: 47.4%;
        top: 44.6%;
    }

    #spinningNutImg6 {
        left: 47.3%;
        top: 45.8%;
    }

    #spinningNutImg7 {
        left: 47.5%;
        top: 47.3%;
    }

    #spinningNutImg8 {
        left: 47.5%;
        top: 48.5%;
    }

    #spinningNutImg9 {
        left: 47.5%;
        top: 49.8%;
    }

    #spinningNutImg10 {
        left: 47.5%;
        top: 51.2%;
    }


    #spinningNutImg11 {
        left: 47.3%;
        top: 52.4%;
    }

    #spinningNutImg12 {
        left: 47.3%;
        top: 53.5%;
    }

    #spinningNutImg13 {
        left: 47.4%;
        top: 55%;
    }

    #spinningNutImg14 {
        left: 47.4%;
        top: 56.2%;
    }

    #spinningNutImg15 {
        left: 47.3%;
        top: 58.7%;
    }

    #spinningNutImg16 {
        left: 47.4%;
        top: 59.9%;
    }

    #spinningNutImg17 {
        left: 47.3%;
        top: 61.3%;
    }

    #spinningNutImg18 {
        left: 47.3%;
        top: 62.7%;
    }

    #spinningNutImg19 {
        left: 47.4%;
        top: 64%;
    }

    #spinningNutImg20 {
        left: 47.4%;
        top: 65.2%;
    }

    #spinningNutImg21 {
        left: 47.4%;
        top: 66.4%;
    }

    #spinningNutImg22 {
        left: 47.4%;
        top: 67.9%;
    }

    #spinningNutImg23 {
        left: 47.4%;
        top: 57.4%;
    }

    #spinningNutImg24 {
        left: 47.4%;
        top: 69.1%;
    }

    #spinningNutImg25 {
        left: 47.4%;
        top: 71.3%;
    }

    #spinningNutImg26 {
        left: 47.4%;
        top: 72.6%;
    }

    #spinningNutImg27 {
        left: 47.5%;
        top: 73.9%;
    }

    #spinningNutImg28 {
        left: 47.4%;
        top: 75.3%;
    }

    #spinningNutImg29 {
        left: 47.5%;
        top: 76.7%;
    }

    #spinningNutImg30 {
        left: 47.5%;
        top: 78%;

    }


    #spinningNutImg31 {
        left: 47.5%;
        top: 79.3%;
    }

    #spinningNutImg32 {
        left: 47.5%;
        top: 80.9%;
    }

    #spinningNutImg33 {
        left: 47.6%;
        top: 82.4%;
    }

    #spinningNutImg34 {
        left: 47.5%;
        top: 83.9%;
    }

    #spinningNutImg35 {
        left: 47.6%;
        top: 85.3%;
    }


    #spinningNutImg36 {
        left: 47.5%;
        top: 86.7%;
    }

    #spinningNutImg37 {
        left: 47.5%;
        top: 88.1%;
    }

    #spinningNutImg38 {
        left: 47.5%;
        top: 89.5%;
    }




    @keyframes spinNut {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }



    /*lift*/



    #liftLeftWrap {
        position: absolute;
        width: 2%;
        padding-top: 83%;
        top: 40%;
        left: 45.2%;
        overflow: hidden;

        #elLeft {
            position: absolute;
            height: 1000%;
            width: 100%;
            left: 0%;
            top: 0%;
            overflow: hidden;
            -webkit-animation: elLeftAnim 191.5s linear infinite;
            animation: elLeftAnim 191.5s linear infinite;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
            background-repeat: repeat;
            background-size: 100% auto;

        }
    }


    @keyframes elLeftAnim {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 0% 100%;
        }

    }

    #liftRightWrap {
        position: absolute;
        width: 2%;
        padding-top: 83%;
        top: 40%;
        left: 48.4%;
        overflow: hidden;

        #elRight {
            position: absolute;
            height: 1000%;
            width: 100%;
            left: 0%;
            top: 0%;
            overflow: hidden;
            -webkit-animation: elRightAnim 191.5s linear infinite;
            animation: elRightAnim 191.5s linear infinite;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
            background-repeat: repeat;
            background-size: 100% auto;

        }
    }


    @keyframes elRightAnim {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 0% -100%;
        }

    }

    #elTop {
        position: absolute;
        width: 5.5%;
        top: 38.1%;
        left: 45.2%;
    }

    #demon {
        position: absolute;
        width: 10.1%;
        top: 32.5%;
        left: 48.2%;

    }

    /*ships*/

    #spaceshipOne {
        position: absolute;
        width: 39%;
        top: 40%;
        left: 3%;
        padding-top: 32%;
        animation: Bopping 6s infinite alternate;

        @keyframes Bopping {
            from {
                top: 40%;
            }

            to {
                top: 54%;
            }
        }


        #shipOne {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;


        }

        #spaceshipOneFireOneContain {
            position: absolute;
            width: 36%;
            top: 69%;
            left: 53%;
            padding-top: 40%;
            overflow: hidden;

            //animation: demonArm 1s linear infinite alternate;
            #shipOneFireOne {
                position: absolute;
                width: 400%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: FireOne .8s steps(4) infinite;

            }

        }


        #spaceshipOneFireTwoContain {
            position: absolute;
            width: 22%;
            top: 74%;
            left: 14%;
            padding-top: 32%;
            overflow: hidden;

            #shipOneFireTwo {
                position: absolute;
                width: 300%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: FireTwo .8s steps(3) infinite;

            }
        }

        #smokeContain {
            position: absolute;
            width: 11%;
            top: 61%;
            left: 96.4%;
            padding-top: 11%;
            overflow: hidden;

            #smoke {
                position: absolute;
                width: 200%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: smoke .8s steps(2) infinite;
            }
        }

    }



    #spaceshipTwo {
        position: absolute;
        width: 39%;
        top: 40%;
        left: 55%;
        padding-top: 46%;
        animation: Bopping 5s infinite alternate;
        animation-delay: 1s;

        @keyframes Bopping {
            from {
                top: 40%;
            }

            to {
                top: 54%;
            }
        }

        #spaceshipOneFireOneContain {
            position: absolute;
            width: 36%;
            top: 69%;
            left: 39%;
            padding-top: 40%;
            overflow: hidden;

            //animation: demonArm 1s linear infinite alternate;
            #shipOneFireOne {
                position: absolute;
                width: 400%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: FireOne .8s steps(4) infinite;

            }

        }


        #spaceshipOneFireTwoContain {
            position: absolute;
            width: 22%;
            top: 70%;
            left: -2%;
            padding-top: 32%;
            overflow: hidden;
            transform: rotate(42deg);

            #shipOneFireTwo {
                position: absolute;
                width: 300%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: FireTwo .8s steps(3) infinite;


            }
        }

        #shipTwo {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;


        }

        #speakerOneContain {
            position: absolute;
            width: 11%;
            top: 38%;
            left: 86.4%;
            padding-top: 22%;
            overflow: hidden;

            #speakerOne {
                position: absolute;
                width: 100%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: scaling .2s infinite alternate;

            }
        }

        #speakerTwoContain {
            position: absolute;
            width: 24%;
            top: 16%;
            left: 39.6%;
            padding-top: 22%;
            overflow: hidden;

            #speakerTwo {
                position: absolute;
                width: 100%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: scaling .2s infinite alternate;

            }
        }

        #speakerThreeContain {
            position: absolute;
            width: 16%;
            top: 25%;
            left: 4.6%;
            padding-top: 24%;
            overflow: hidden;

            #speakerThree {
                position: absolute;
                width: 100%;
                top: 0%;
                left: 0%;
                overflow: hidden;
                animation: scaling .2s linear infinite;
                animation-delay: 1s;


            }
        }



        #artistTwoHead {
            position: absolute;
            width: 8%;
            top: 31.3%;
            left: 44.8%;
            animation: headBop .4s linear infinite alternate;
        }


        @keyframes headBop {
            from {
                transform: rotate(0deg);
                transform-origin: top center;
            }

            to {
                transform: rotate(4.8deg);
                transform-origin: top center;
            }
        }


        #artistTwoArmOne {
            position: absolute;
            width: 9%;
            top: 41.1%;
            left: 39.7%;
            animation: armThree .4s linear infinite alternate;
        }


        @keyframes armThree {
            from {
                transform: rotate(0deg);
                transform-origin: bottom left;
            }

            to {
                transform: rotate(-9.9deg);
                transform-origin: bottom left;
            }
        }

        #artistTwoArmTwo {
            position: absolute;
            width: 9%;
            top: 41%;
            left: 48.9%;
            animation: armFour .4s linear infinite alternate;
        }


        @keyframes armFour {
            from {
                transform: rotate(0deg);
                transform-origin: bottom right;
            }

            to {
                transform: rotate(-9.9deg);
                transform-origin: bottom right;
            }
        }


    }



    @keyframes smoke {
        0% {
            left: 0%;
        }

        100% {
            left: -200%;
        }

    }


    @keyframes FireOne {
        0% {
            left: 0%;
        }

        100% {
            left: -400%;
        }

    }


    @keyframes FireTwo {
        0% {
            left: 0%;
        }

        100% {
            left: -300%;
        }

    }

    #speakerOneContain {
        position: absolute;
        width: 11%;
        top: 26%;
        left: 88.4%;
        padding-top: 22%;
        overflow: hidden;

        #speakerOne {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
            overflow: hidden;
            animation: scaling .2s infinite alternate;

        }
    }

    #speakerTwoContain {
        position: absolute;
        width: 24%;
        top: -10%;
        left: 30.6%;
        padding-top: 22%;
        overflow: hidden;

        #speakerTwo {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
            overflow: hidden;
            animation: scaling .2s infinite alternate;

        }
    }

    #speakerThreeContain {
        position: absolute;
        width: 16%;
        top: 29%;
        left: -6.4%;
        padding-top: 24%;
        overflow: hidden;

        #speakerThree {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
            overflow: hidden;
            animation: scaling .2s linear infinite;
            animation-delay: 1s;


        }
    }

    @keyframes scaling {
        0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }

        100% {
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
        }
    }

    #artistOneHead {
        position: absolute;
        width: 8%;
        top: 13.1%;
        left: 40.3%;
        animation: headBop .4s linear infinite alternate;
    }


    @keyframes headBop {
        from {
            transform: rotate(0deg);
            transform-origin: top center;
        }

        to {
            transform: rotate(4.8deg);
            transform-origin: top center;
        }
    }


    #artistOneArmOne {
        position: absolute;
        width: 8%;
        top: 16.1%;
        left: 35.9%;
        animation: armOne .4s linear infinite alternate;
    }


    @keyframes armOne {
        from {
            transform: rotate(0deg);
            transform-origin: bottom right;
        }

        to {
            transform: rotate(9.9deg);
            transform-origin: bottom right;
        }
    }

    #artistOneArmTwo {
        position: absolute;
        width: 8%;
        top: 16.3%;
        left: 45.9%;
        animation: armTwo .4s linear infinite alternate;
    }


    @keyframes armTwo {
        from {
            transform: rotate(0deg);
            transform-origin: bottom left;
        }

        to {
            transform: rotate(-9.9deg);
            transform-origin: bottom left;
        }
    }

    #demonArm {
        position: absolute;
        width: 3%;
        top: 35.8%;
        left: 49.8%;
        animation: demonArm 1s linear infinite alternate;

    }



    @keyframes demonArm {
        from {
            transform: rotate(0deg);
            transform-origin: top left;
        }

        to {
            transform: rotate(8deg);
            transform-origin: top left;
        }
    }

    // LAVA!@

    #lavaOne {
        background-color: red;
        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        opacity: 0;
        left: 51%;
        top: 43.5%;
        border-radius: 50%;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-194deg);
        animation: flowLavaOneFirst 5s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 5s;
    }

    @keyframes flowLavaOneFirst {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 15%;
            padding-bottom: 0.7%;
            transform-origin: top left;
        }
    }


    #lavaTwo {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 37%;
        top: 45%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-355deg);
        animation: flowLavaSecond 5s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 10s;
    }

    @keyframes flowLavaSecond {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 23%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }




    #lavaThree {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 60%;
        top: 46.3%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-191deg);
        animation: flowLavaThird 15s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 15s;
    }

    @keyframes flowLavaThird {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 25%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }

    #lavaFour {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 60%;
        top: 46.6%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-197deg);
        animation: flowLavaFourth 15s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 15s;
    }

    @keyframes flowLavaFourth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 28%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }

    #lavaFive {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 60%;
        top: 46.9%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-203deg);
        animation: flowLavaFifth 10s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 15s;
    }

    @keyframes flowLavaFifth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 32%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }


    #lavaSix {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 43%;
        top: 53.6%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-353deg);
        animation: flowLavaSixth 10s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 32s;
    }

    @keyframes flowLavaSixth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 25%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }


    #lavaSeven {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 68%;
        top: 55.7%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-187deg);
        animation: flowLavaSeventh 10s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 42s;
    }

    @keyframes flowLavaSeventh {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 41%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }


    #lavaEight {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 26%;
        top: 58.5%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(10.6deg);
        animation: flowLavaEighth 12s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 54s;
    }

    @keyframes flowLavaEighth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 49%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }



    #lavaNine {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 76%;
        top: 63.2%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-182deg);
        animation: flowLavaNinth 12s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 68s;
    }

    @keyframes flowLavaNinth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 56%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }

    #lavaTen {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 76%;
        top: 63.5%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-187deg);
        animation: flowLavatenth 13s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 68s;
    }

    @keyframes flowLavatenth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 59%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }

    #lavaEleven {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 76%;
        top: 65.2%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(-186.7deg);
        animation: flowLavaEleventh 14s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 68s;
    }

    @keyframes flowLavaEleventh {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 58%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }

    #lavaTwelve {

        width: 0.1%;
        height: auto;
        padding-bottom: 0.1%;
        position: absolute;
        left: 21%;
        top: 72.6%;
        border-radius: 50%;
        opacity: 0;
        background-size: initial;
        background-position: center top;
        background-repeat: repeat;
        box-shadow: 0px 0px 60px 30px #ffba00;

        @media (max-width: 767px) {
            box-shadow: 0px 0px 30px 15px #ffba00;

        }

        transform: rotate(2.5deg);
        animation: flowLavaTwelth 10s linear
        /*infinite*/
        ;
        animation-fill-mode: forwards;
        animation-delay: 78s;
    }

    @keyframes flowLavaTwelth {
        from {
            opacity: 0;
            width: 0.2%;
            padding-bottom: 0.2%;
            transform-origin: top left;
        }

        to {
            opacity: 0.8;
            width: 62%;
            padding-bottom: 0.5%;
            transform-origin: top left;
        }
    }

    //FOOTER


    #bigSpeakerContain {
        position: absolute;
        padding-top: 20%;
        width: 16%;
        left: 0%;
        top: 74%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #bigSpeakerContain2 {
        position: absolute;
        padding-top: 20%;
        width: 10%;
        top: 76%;
        left: 10%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker2 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #bigSpeakerContain3 {
        position: absolute;
        padding-top: 20%;
        width: 7%;
        top: 78%;
        left: 38%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker3 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }



    #bigSpeakerContain4 {
        position: absolute;
        padding-top: 20%;
        width: 7%;
        top: 78%;
        left: 51%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker4 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }


    #bigSpeakerContain5 {
        position: absolute;
        padding-top: 20%;
        width: 10%;
        top: 78%;
        left: 61%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker5 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }


    #bigSpeakerContain6 {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 76%;
        left: 74%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker6 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }


    #bigSpeakerContain7 {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 70.7%;
        left: 84%;
        overflow: hidden;
        animation: scaling .2s infinite alternate;

        #bigSpeaker7 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }



    #footerBg {
        position: absolute;
        width: 100%;
        top: 74.7%;
        left: 0%;
        overflow: hidden;
    }

    #footerBg2 {
        position: absolute;
        width: 100%;
        top: 81.9%;
        left: 0%;
        overflow: hidden;
    }

    #cameraFlashesContain {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 76.7%;
        left: 36%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #cameraFlashesContain2 {
        position: absolute;
        padding-top: 20%;
        width: 12%;
        top: 77.7%;
        left: 6%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes2 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #cameraFlashesContain3 {
        position: absolute;
        padding-top: 20%;
        width: 21%;
        top: 73.7%;
        left: 80%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes3 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #cameraFlashesContain4 {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 74.7%;
        left: 66%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes4 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #cameraFlashesContain5 {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 75.7%;
        left: 29%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes5 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #cameraFlashesContain6 {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 75.7%;
        left: 48%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes6 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }

    #cameraFlashesContain7 {
        position: absolute;
        padding-top: 20%;
        width: 17%;
        top: 75.7%;
        left: 23%;
        overflow: hidden;
        animation: flashCam .2s linear infinite;
        animation-delay: 1s;

        #cameraFlashes7 {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
        }
    }


    @keyframes flashCam {
        0% {
            transform: scale(1.0);
            transform-origin: 50% 50%;


        }

        25% {
            transform: scale(0.5);
            transform-origin: 50% 50%;

        }

        50% {
            transform: scale(1.0);
            transform-origin: 50% 50%;

        }

        100% {
            transform: scale(0.4);
            transform-origin: 50% 50%;

        }
    }

    #epComingSoon {
        position: absolute;
        width: 36%;
        top: 97.4%;
        left: 31%;
        overflow: hidden;
    }





//stuff outside react

#audioMp3 {
    position: absolute;
    width: 72%;
    height: auto;
    left: 13%;
    top: 9%;
    opacity: 0;
    text-indent: -9999px;
    display: none;

    audio {
        width: 100%;
    }
}

#modals {
    position: absolute;
    width: 72%;
    height: auto;
    left: 13%;
    top: 9%;
.modal-content {
    border-radius: 0;    
    .modal-body {

        padding: 0;
    }
    p{
        padding: 5px 20px;
        margin-bottom: 0;
    }
    h5{
        padding: 5px 20px;
        margin-bottom: 0;
    }
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    z-index: 1;
    height: 30px;
    padding-bottom: 5px;
    width: 30px;
    opacity: 1;
}

}


#start {

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f7a300;
    /*     transform:all 0.5s ease;*/
    z-index: 99999999999999;


    #intro-img {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        max-width: 300px;
        @media (max-width: 767px) {
            top: 23%;
        }

    }
} 

// Spin animation
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.stroke-dotted {
    opacity: 0;
    stroke-dasharray: 4, 5;
    stroke-width: 1px;
    transform-origin: 50% 50%;
    animation: spin 4s infinite linear;
    transition: opacity 1s ease,
        stroke-width 1s ease;
}

.stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 1s ease,
        opacity 1s ease;
}

.icon {
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
}

// Hover
#play:hover {
    .stroke-dotted {
        stroke-width: 4px;
        opacity: 1;
    }

    .stroke-solid {
        opacity: 0;
        stroke-dashoffset: 300;
    }

    .icon {
        transform: scale(1.05);
    }
} 

#play {
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


}