.killuminati-content.Crop-App-to-bg {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding-bottom: 143%;
    animation: fadein 3s;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
}
#killspiral {position: absolute;left: 4%; width: 93%;height: auto;top:-14.5%;}
#spiralimg { width: 100%;height: auto; }
#pyramid {position: absolute;left: 4%; width: 93%;height: auto;padding-top:23%;}
#pyramidimg { width: 100%;height: auto; }
#hilary {position: absolute;left: -11%; width: 49%;height: auto;}
#hilaryimg { width: 100%;height: auto; }
#trump {position: absolute;left: 52%; width: 56%;height: auto;padding-top:4%;}
#trumpimg { width: 100%;height: auto; }
#bottom {position: absolute;left: 0%; width: 100%;height: auto;}
#bottomimg { width: 100%;height: auto; }
#hilstring {position: absolute;    left: 25.5%;width: 63%;height: auto;padding-top: 44.5%;}
#hilstringimg { width: 100%;height: auto; }
#trumpstring {position: absolute; left: 11.2%;width: 51%;height: auto;padding-top: 45.5%;}
#trumpstringimg { width: 100%;height: auto; }
/* RESPONSIVE FIXES
============================================================================= */
@media (min-width:1px) and (max-width:481px){
#killspiral {top:-70px;}
}
@media (min-width:482px) and (max-width:768px){
#killspiral {top:-130px;}
}
}