.study-right-content.Crop-App-to-bg {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding-bottom: 143%;
    animation: fadein 3s;

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

  
  #logo, .wrapper {
    position: absolute;
  }
  
  [role=button] {
    cursor: pointer;
  }
  
  a {
    cursor: pointer;
  
    &:active, &:hover, &:link, &:visited {
      cursor: pointer;
    }
  }
  
  figure {
    cursor: pointer;
  }
  
  *, :after, :before {
    box-sizing: border-box;
  }
  
  .clearfix {
    &:after, &:before {
      content: " ";
      display: table;
    }
  
    &:after {
      clear: both;
    }
  }
  
  
  #kid4, #kid6 {
    padding-top: 52%;
  }

  #dog {
    padding-top: 89%;
    width: 58%;
    left: 42%;
    height: auto;
    position: absolute;
}
  
  #gumbuildup, #kid8 {
    padding-top: 57.4%;
  }
  
  a {
    &:hover {
      opacity: .6;
      filter: alpha(opacity = 60);
      color: #02cad7;
    }
  
    &:link {
      color: #292a2a;
    }
  
    &:visited {
      color: #635d63;
    }
  
    &:active {
      color: #c50e12;
    }
  }
  
  h1 {
    font-family: 'Architects Daughter',cursive;
    font-size: 36px;
  }
  
  .btn, ul.nav > li > a {
    font-size: 18px;
    font-family: 'Architects Daughter',cursive;
  }
  
  p a.colored {
    color: #aa9fc8;
  }
  
  .btn {
    background-color: #FFF;
    border: 1px solid #101010;
    border-radius: 0;
  }
  
  .footer, .internal-footer {
    text-align: right;
    border-top: 1px solid #848484;
    display: block;
  }
  
  .floatleft {
    float: left;
  }
  
  .floatright {
    float: right;
  }
  
  #logo {
    padding-top: 9%;
    left: 39.8%;
    width: 19%;
    height: auto;
  }
  
  .mini-logo {
    width: 100px;
    position: relative;
    top: -8px;
    left: 10px;
  }
  
  #audio1, #plane {
    left: 9%;
    height: auto;
    position: absolute;
  }
  
  .navbar-toggle .icon-bar {
    background-color: #000;
  }
  
  .container-fluid, .footer, .internal-footer {
    background-color: #fff;
  }
  
  .navbar {
    border-bottom: 1px solid #848484;
    margin-bottom: 0;
  }
  
  #background {
    position: absolute;
    padding-top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
  }
  
  #plane {
    padding-top: 1%;
    width: 82%;
  }
  
  #audio1 {
    padding-top: 6%;
    width: 5%;
  }
  
  #professor {
    position: absolute;
    padding-top: 38%;
    left: 21%;
    width: 15%;
    height: auto;
  }
  
  #kid1 {
    position: absolute;
    padding-top: 20%;
    left: 39%;
    width: 9%;
    height: auto;
  }
  
  #kid2 {
    position: absolute;
    padding-top: 42%;
    left: 54%;
    width: 6%;
  }
  
  #kid3 {
    position: absolute;
    padding-top: 48%;
    left: 61.5%;
    width: 11%;
  }
  
  #kid4 {
    position: absolute;
    left: 32.5%;
    width: 12%;
  }
  
  #kid5 {
    position: absolute;
    padding-top: 50.6%;
    left: 46.8%;
    width: 16%;
  }
  
  #kid6 {
    position: absolute;
    left: 65.5%;
    width: 18%;
  }
  
  #kid7 {
    position: absolute;
    padding-top: 59.4%;
    left: 24.2%;
    width: 15%;
  }
  
  #kid8 {
    position: absolute;
    left: 1.2%;
    width: 65%;
  }
  
  #gumbuildup {
    position: absolute;
    left: 7.2%;
    width: 5%;
  }
  
  #kid9 {
    position: absolute;
    padding-top: 54.4%;
    left: 72.2%;
    width: 18%;
  }
  
  #kid10 {
    position: absolute;
    padding-top: 68.4%;
    left: 17.2%;
    width: 19%;
  }
  
  #kid11 {
    position: absolute;
    padding-top: 67.4%;
    left: 62.2%;
    width: 17%;
  }
  
  #kid12 {
    position: absolute;
    padding-top: 59%;
    left: 31.2%;
    width: 69%;
  }
  
  #paperbuildup {
    position: absolute;
    padding-top: 59%;
    left: 4.2%;
    width: 14%;
  }
  
  #vectors {
    position: absolute;
    padding-top: 54%;
    left: 34.2%;
    width: 50%;
  }
  
  #courses {
    position: absolute;
    margin-top: 32%;
    left: 85.5%;
    width: 6%;
  }
  
  #contact {
    position: absolute;
    margin-top: 39%;
    left: 85.8%;
    width: 6%;
  }
  
  #pricing {
    position: absolute;
    margin-top: 46%;
    left: 85.7%;
    width: 6%;
  }
  
  #science {
    position: absolute;
    margin-top: 84%;
    left: 7.7%;
    width: 41%;
  }
  
  #math {
    position: absolute;
    margin-top: 84%;
    left: 51.2%;
    width: 45%;
  }
  
  #english {
    position: absolute;
    margin-top: 109.5%;
    left: 1.9%;
    width: 41%;
  }
  
  #creative {
    position: absolute;
    margin-top: 113%;
    left: 43.2%;
    width: 50%;
  }
  
  ul.nav > li > a {
    letter-spacing: 1px;
    position: relative;
    left: 10px;
  }
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .textbox {
    padding: 10%;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  
  .container-fluid img {
    max-width: 100%;
    height: auto;
    min-width: 100%;
  }
  
  .row.no-pad {
    margin-right: 0;
    margin-left: 0;
  
    > [class*=col-] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  [role=button] {
    font-family: 'Architects Daughter',cursive;
    font-size: 21 px;
  }
  
  .small-nav-centered-title {
    font-size: 30px;
  }
  
  .footer {
    font-family: 'Architects Daughter',cursive;
    font-size: 15px;
    margin-top: 138.2%;
    position: absolute;
    width: 100%;
  }
  
  .panel-title {
    font-size: 30px;
  }
  
  .internal-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  figure, section {
    text-align: center;
  }
  
  figure {
    position: relative;
  
    img {
      position: relative;
    }
  }
  
  .credits {
    font-family: 'Architects Daughter',cursive;
    font-size: 15px;
    top: 20px;
  }
  
  #homesocial {
    width: 99%;
    position: absolute;
    top: 132%;
    left: 0;
    border-top: 0;
    height: auto;
  }
  
  .footer p {
    margin: 10px 18px;
  }
  

  
  section {
    padding: 1em;
  }
  
  .content {
    margin: 0 auto;
    max-width: 1000px;
  
    > h2 {
      clear: both;
      margin: 0;
      padding: 4em 1% 0;
      color: #484B54;
      font-weight: 800;
      font-size: 1.5em;
  
      &:first-child {
        padding-top: 0;
      }
    }
  }
  
  figure {
    overflow: hidden;
    min-width: 100%;
    max-width: 1200px;
    max-height: 1000px;
    width: 100%;
    background: #3085a3;
  
    img {
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 1;
    }
  
    figcaption {
      padding: 2em;
      color: #000;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  
      &::after, &::before {
        pointer-events: none;
      }
  
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
  
    h2 {
      word-spacing: -.15em;
      font-weight: 300;
      font-family: 'Architects Daughter',cursive;
  
      span {
        font-weight: 800;
      }
  
      margin: 0;
    }
  
    p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%;
      text-transform: none;
    }
  

  }
  
  @media (min-width: 1px) and (max-width: 767px) {
    #logo {
      top: 50px;
    }
  
    #title {
      display: none;
    }
  
    #homesocial {
      top: 132%;
    }
  
    #logo2 {
      top: 24px;
      right: 42px;
    }
  
    figure {
      max-height: 400px;
    }
  

  
    .credits {
      top: 0;
      text-align: left;
      float: left;
      left: 5px;
    }
  
    table {
      position: relative;
      left: -42px;
    }
  
    .small-nav-centered-title {
      font-size: 11px;
    }
  }
}