 /* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
 .news .three-d-box {
   overflow:hidden
}
 #tridiv {
    -webkit-perspective: 800px;
    perspective: 800px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 800px;
    background-color:#b8e4eb;
    font-size: 350%;
    pointer-events:none;
    }
    .scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    }
    .scene {
    width: 80em;
    height: 80em;
    top: 50%;
    left: 50%;
    margin: -40em 0 0 -40em;
    }
    .shape {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    }
    .face, .face-wrapper {
    overflow: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .face {
    background-size: 100% 100%!important;
    background-position: center;
    }
    .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%
    }
    .photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
    }
    .side {
    left: 50%;
    }
    .cr, .cr .side {
    height: 100%;
    }
    [class*="cuboid"] .ft, [class*="cuboid"] .bk {
    width: 100%;
    height: 100%;
    }
    [class*="cuboid"] .bk {
    left: 100%;
    }
    [class*="cuboid"] .rt {
    -webkit-transform: rotateY(-90deg) translateX(-50%);
    transform: rotateY(-90deg) translateX(-50%);
    }
    [class*="cuboid"] .lt {
    -webkit-transform: rotateY(90deg) translateX(-50%);
    transform: rotateY(90deg) translateX(-50%);
    }
    [class*="cuboid"] .tp {
    -webkit-transform: rotateX(90deg) translateY(-50%);
    transform: rotateX(90deg) translateY(-50%);
    }
    [class*="cuboid"] .bm {
    -webkit-transform: rotateX(-90deg) translateY(-50%);
    transform: rotateX(-90deg) translateY(-50%);
    }
    [class*="cuboid"] .lt {
    left: 100%;
    }
    [class*="cuboid"] .bm {
    top: 100%;
    }
    /* .cub-1 styles  */
    .cub-1 {
    -webkit-transform:translate3D(0em, 0em, 0em) rotateX(40deg) rotateY(30deg) rotateZ(-30deg);
    transform:translate3D(0em, 0em, 0em) rotateX(40deg) rotateY(30deg) rotateZ(-30deg);
    opacity:1;
    width:7.680em;
    height:5.760em;
    margin:-2.88em 0 0 -3.84em;
    }
    .cub-1 .ft {
    -webkit-transform:translateZ(0.6em);
    transform:translateZ(0.6em);
    }
    .cub-1 .bk {
    -webkit-transform:translateZ(-0.6em) rotateY(180deg);
    transform:translateZ(-0.6em) rotateY(180deg);
    }
    .cub-1 .rt, .cub-1 .lt {
    width:1.2em;
    height:5.760em;
    }
    .cub-1 .tp, .cub-1 .bm {
    width:7.680em;
    height:1.2em;
    }
    .cub-1 .face {
    background-color:#000000;
    }
    .cub-1 .ft {
    background:url(https://archibaldbutler.com/projects/3dpacketonwebsite/front.jpg);
    }
    .cub-1 .bk {
    background:url(https://archibaldbutler.com/projects/3dpacketonwebsite/back.jpg);
    }
    .cub-1 .tp {
    background:url(https://archibaldbutler.com/projects/3dpacketonwebsite/above.jpg);
    }
    .cub-1 .bm {
    background:url(https://archibaldbutler.com/projects/3dpacketonwebsite/bottom.jpg);
    }
    .cub-1 .lt {
    background:url(https://archibaldbutler.com/projects/3dpacketonwebsite/left.jpg);
    }
    .cub-1 .rt {
    background:url(https://archibaldbutler.com/projects/3dpacketonwebsite/right.jpg);
    }
    @-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(-360deg); transform: rotateY(-360deg); }
    }
    @keyframes spin {
    from { -webkit-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(-360deg); transform: rotateY(-360deg); }
    }
    .scene {
    -webkit-animation: spin 16s infinite linear;
    animation: spin 16s infinite linear;
    }
    #boxcontainer {
    position:relative;
    width:100%;
    max-width:800px;
    max-height:800px;
    margin:0 auto;
    height:auto;
    background-color:#b8e4eb;
    }