// // animate 3 thumbs in css


// #flickerImg2  {
//     position: absolute;
//     top: 0;
//     left:0;
//     animation: flicker2 2s infinite;

// } 

// #flickerImg3  {
//     position: absolute;
//     top: 0;
//     left:0;
//     animation: flicker 2s infinite;
//     // animation: flicker2 2s infinite;
//     // animation-delay: 2s;
// } 

//     // animation
//     @keyframes flicker {
//         0% {
//             opacity:0;
//         } 
//         1% {
//             opacity:1;
//         } 
//         33% {
//             opacity:1;
//         }
//         34% {
//             opacity:0;
//         }
//         66% {
//             opacity:0;
//         }
//         99% {
//             opacity:0;
//         }
//         100% {
//             opacity: 1;
//         }
//     }
//         // animation
//         @keyframes flicker2 {
//             0% {
//                 opacity:0;
//             }
//             33% {
//                 opacity:0;
//             }
//             34% {
//                 opacity:1;
//             }
    
//             66% {
//                 opacity:1;
//             }
//             67% {
//                 opacity:0;
//             }
//             99% {
//                 opacity:0;
//             }
//             100% {
//                 opacity: 1;
//             }
//         }