/* Common style */

figure {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    max-width: 1200px;
    max-height: 1000px;
    width: 100%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
    margin: 0;
    img {
        width: 100%;
        min-width: 100%;
    }
    figcaption {
        padding: 2em;
        color: #000;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before,
        &::after {
            pointer-events: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        >a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
            z-index: 1;
        }
    }
    h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        font-family: "Architects Daughter", cursive, Arial;
        span {
            font-weight: 800;
        }
        margin: 0;
    }
    p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 68.5%;
        text-transform: none;
    }
}

@media (max-width: 767px) {
    figure {
        border: 0px;
    }
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */


/*specific to roxy*/


/*---------------*/


/***** Roxy *****/


/*---------------*/


/*add2.5px border to container on desk only*/

div.container-fluid {
    &.work,
    &.news {
        border: 2.5px solid white;
        // margin-left:-15px;
        // margin-right:-15px;
    }
}

@media (max-width: 767px) {
    div.container-fluid {
        &.work,
        &.news {
            border: 0px;
        }
    }
}

figure.effect-roxy {
    // background: -webkit-linear-gradient(45deg, #fff 0%, #fff 100%);
    // background: linear-gradient(45deg, #fff 0%, #fff 100%);
    video {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1);
        transform: scale(1);
        width: 100%;
        min-width: 100%;
        overflow: hidden;
        vertical-align: middle;
        border-style: none;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

figure.effect-roxy img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-roxy:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-roxy figcaption {
    padding: 3em;
    opacity: 0;
}

figure.effect-roxy figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid black;
    content: "";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-roxy figcaption::before,
figure.effect-roxy p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-roxy h2 {
    padding: 30% 0 10px 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    max-width: 400px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    font-size: 30px;
    @media (min-width: 767.1px) and (max-width: 1080px) {
        font-size: 18px;
    }
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

figure.effect-roxy p {
    opacity: 0;
    padding: 3% 0 10px 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    max-width: 300px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    font-size: 18px;
    @media (min-width: 767.1px) and (max-width: 1080px) {
        font-size: 16px;
    }
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

figure.effect-roxy:hover figcaption {
    padding: 3em;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
}

figure.effect-roxy:hover figcaption,
figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover h2,
figure.effect-roxy:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// figure.effect-roxy {
//     background: -webkit-linear-gradient(45deg, #fff 0%, #fff 100%);
//     background: linear-gradient(45deg, #fff 0%, #fff 100%);
//     img {
//         max-width: none;
//         width: -webkit-calc(100% + 60px);
//         width: calc(100% + 60px);
//         -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//         transition: opacity 0.35s, transform 0.35s;
//         -webkit-transform: translate3d(-50px, 0, 0);
//         transform: translate3d(-50px, 0, 0);
//     }
//     figcaption {
//         &::before {
//             position: absolute;
//             top: 30px;
//             right: 30px;
//             bottom: 30px;
//             left: 30px;
//             border: 1px solid #000;
//             content: '';
//             opacity: 0;
//             -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//             transition: opacity 0.35s, transform 0.35s;
//             -webkit-transform: translate3d(-20px, 0, 0);
//             transform: translate3d(-20px, 0, 0);
//         }
//         padding: 3em;
//         text-align: left;
//     }
//     h2 {
//         padding: 30% 0 10px 0;
//     }
//     p {
//         opacity: 0;
//         -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//         transition: opacity 0.35s, transform 0.35s;
//         -webkit-transform: translate3d(-10px, 0, 0);
//         transform: translate3d(-10px, 0, 0);
//     }
//     &:hover {
//         img {
//             opacity: 0.1;
//             -webkit-transform: translate3d(0, 0, 0);
//             transform: translate3d(0, 0, 0);
//         }
//         figcaption::before,
//         p {
//             opacity: 1;
//             -webkit-transform: translate3d(0, 0, 0);
//             transform: translate3d(0, 0, 0);
//         }
//     }
//     h2 {
//         opacity: 0;
//         -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//         transition: opacity 0.35s, transform 0.35s;
//         -webkit-transform: translate3d(-10px, 0, 0);
//         transform: translate3d(-10px, 0, 0);
//     }
//     &:hover h2 {
//         opacity: 1;
//         -webkit-transform: translate3d(0, 0, 0);
//         transform: translate3d(0, 0, 0);
//     }
// }
.crop1 {
    margin: 0 2px 2px 2px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #070700;
    float: left;
    @media (max-width: 767px) {
        float: none;
        margin: 2px;
    }
    .previous-link {
        width: 100px;
        height: 100px;
        display: block;
        float: left;
        position: relative;
        overflow: hidden;
        .animate1 {
            border: 0;
            overflow: hidden;
            position: absolute;
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
            animation: left-chevron 2s linear infinite;
            animation-delay: 0.5s;
        }
        .animate1 img {
            width: 50px;
            height: 50px;
            top: 22px;
            position: relative;
        }
    }
}

.crop2 {
    margin: 0 2px 2px 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #070700;
    float: right;
    @media (max-width: 767px) {
        float: right;
        margin: 2px;
    }
    .next-link {
        width: 100px;
        height: 100px;
        display: block;
        float: right;
        position: relative;
        overflow: hidden;
        .animate2 {
            border: 0;
            overflow: hidden;
            position: absolute;
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
            animation: right-chevron 2s linear infinite;
        }
        .animate2 img {
            width: 50px;
            height: 50px;
            top: 22px;
            position: relative;
        }
    }
}

@keyframes left-chevron {
    0% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100px, 0);
    }
}

@keyframes right-chevron {
    0% {
        transform: translate(-100px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100px, 0);
    }
}