$font_family_1: "Josefin Sans",
sans-serif;
$background_color_1: #000;
$background_color_2: #b8e4eb;
$background_color_3: #becacd;

/*icons*/


/*fix mobile align*/


/*scroll icon anim*/

.portfolio {
    h2 {
        font-family: "Josefin Sans", cursive, Arial;
    }
    .img-fluid {
        min-width: 100%;
    }
    @keyframes down-arrow-before {
        50% {
            -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
        }
        100% {
            -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
        }
    }
    @keyframes down-arrow-after {
        50% {
            -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
            opacity: 0;
        }
        51% {
            -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
        }
        100% {
            -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
            opacity: 1;
        }
    }
    /*iframes*/
    iframe {
        margin: 20px auto;
        display: block;
    }
    /*big numbers*/
    /*numbers mobile fix*/
    /* Small devices (tablets, 768px and up) */
    .projHeaderTitle {
        text-transform: uppercase;
        margin-top: 50px;
    }
    .projHeaderP {
        max-width: 600px;
    }
    .technoHeaderTitle {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        padding-right: 10px;
    }
    .lineOnProject {
        width: 100px;
        height: 3px;
        background-color: $background_color_1;
        display: inline-block;
        position: relative;
        top: -3px;
    }
    .customImg {
        min-height: 800px;
        background-image: url("http://archibaldbutler.com/wp-content/themes/archibaldbutler/img/internal/news/model-squad-hero.jpg");
        background-color: $background_color_3;
        background-size: 100% auto;
        min-height: 100%;
    }
    .paddedPortfolioImg {
        margin: 50px 0;
    }
    .MargBottom {
        margin-bottom: 120px;
    }
    .tooltip,
    .linkForTooltip {
        font-family: "Architects Daughter", cursive, Arial;
    }
    button.linkForTooltip {
        font-family: "Architects Daughter", cursive, Arial;
        width: 60px;
        height: 60px;
        float: left;
        margin: 5px 10px 5px 0;
        padding: 0;
        opacity: 1;
        filter: alpha(opacity=100);
        border: 0;
    }
    .tooltip {
        font-size: 20px;
    }
    .bs-tooltip-bottom,
    .tooltip .tooltip-inner {
        min-width: 250px;
    }
    .readmoreBTN {
        display: block;
        width: 160px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .screen_bordered {
        border: 24px solid black;
        border-radius: 24px;
        max-width: 1200px;
        margin: 140px auto;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .readmoreBTN.inline {
        display: inline-block;
        width: 130px;
        margin-top: 30px;
        margin-right: 10px;
    }
    .icon-roll {
        background-size: 100% 100%;
        height: 60px;
        width: 60px;
        float: left;
        position: relative;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        transition: all ease 0.3s;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        /* IE 6-9 */
        &:hover {
            background-size: 100% 100%;
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-filter: none;
            filter: none;
        }
    }
    .scroll-down-dude {
        &:before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-bottom: 4px solid black;
            border-right: 4px solid black;
            position: relative;
            top: 30px;
            left: 68px;
            -webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        }
        &:after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-bottom: 4px solid black;
            border-right: 4px solid black;
            position: relative;
            top: 30px;
            left: 68px;
            -webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        }
    }
    .number {
        position: relative;
        left: -45px;
        @media (max-width: 767px) {
            left: -24px;
        }
        .ring {
            float: left;
            border: 30px solid #00abb7;
            color: #00abb7;
            padding: 7px 0;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            font-size: 6.5em;
            font-weight: 700;
            text-align: center;
            font-family: $font_family_1;
            padding-top: 0;
        }
        .text {
            float: left;
            width: 200px;
            margin-left: 10px;
            margin-top: 67px;
            font-family: $font_family_1;
            font-size: 45px;
            border-top: 10px solid #00abb7;
            color: #00828b;
            text-transform: uppercase;
            padding-top: 20px;
        }
    }
    .numbers {
        p {
            text-transform: uppercase;
        }
    }
    @media (max-width: 600px) {
        .container-fluid {
            img {
                height: auto;
                display: block;
                min-width: 100%;
            }
        }
        .number {
            .ring {
                width: 150px;
                height: 150px;
                font-size: 3.5em;
            }
        }
    }
    @media (max-width: 990px) {
        .technoHeaderTitle {
            margin-left: 10px;
        }
    }
}