.contact-content {
    img.floatright {
        display: block;
        margin: 0 auto;
        padding: 20px;
        width: 240px;
        max-width: 240px;
        min-width: 240px;
        @media(min-width: 767px) {
            padding: 20px 20px 60px 20px;
            width: 240px;
            max-width: 240px;
            min-width: 240px;
        }
    }
}