    footer.app-footer {

        border-top: 1px solid $dark;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 140px;
     .social-roll-wrap {
     	height:44px;
     	width:260px;
     	position: relative;
     	top:48px;
     	left:30px;
        width:260px;
        float: left;
        	@media (max-width: $mediumWidth) {
            	top:0;
            	right:0;
            	left:0;
            	float: none;
            	display: block;
            	margin: 30px auto 30px auto;
            }

        .social-roll {
            background-size: 100% 100%;
            height: 33px;
            width: 33px;
            margin: 5px;
            float: left;
            position: relative;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
            transition: all ease 0.3s;
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */;

        }

        .social-roll:hover {
            background-size: 100% 100%;
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-filter: grayscale(100%);
            filter: none; /* IE 6-9 */;
        }
}
        p {
        	text-align: right;
        	position: relative;
            top: 55px;
            right: 43px;
            float: right;
            max-width: 200px;
            @media (max-width: $mediumWidth) {
            	text-align: center;
            	padding:20px;
            	top:0;
            	right:0;
                float: none;
                width:100%;
                max-width: none;
            }
         }
    }